#aPropos {
  // border: 2px solid white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  .container {
    // border: 2px solid white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .btn {
      // border: 2px solid white;
      width: 100%;

      .btnRetour {
        cursor: pointer;
        font-size: 3rem;
        background: transparent;
        border: none;
        color: white;
        position: absolute;
        z-index: 1;
      }
    }

    #texte {
      border: 2px solid white;
      width: 80%;
      height: 50%;
      color: white;
      font-size: 1.5rem;
      font-family: "Merienda", cursive;
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 5%;
    }
  }
}
