#competence {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#competence .container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#competence .container .btn {
  width: 100%;
}
#competence .container .btn .btnRetour {
  cursor: pointer;
  font-size: 3rem;
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  z-index: 1;
}
#competence .container .cont {
  width: 70%;
  height: 40%;
  border-radius: 3px;
  margin: 30px;
}
#competence .container .cont h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 3%;
  margin-top: 0%;
}
#competence .container .cont .bar:not(:last-child) {
  margin-bottom: 15px;
}
#competence .container .cont .bar {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}
#competence .container .cont .bar-stat {
  border-radius: 5px;
  text-shadow: 0 0 5px #000;
}
#competence .container .cont .bar-stat .bar-text {
  font-family: "Merienda", cursive;
  font-size: 18px;
  text-align: start;
  text-shadow: 0px 0px 0px;
  color: rgb(255, 255, 255);
}
#competence .container .cont .bar-stat #html {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: htmlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: htmlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #css {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: cssSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: cssSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #js {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: jsSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: jsSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #ja {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: jaSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: jaSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #sql {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: sqlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: sqlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #db {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: dbSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: dbSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #ec {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: ecSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: ecSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #vsc {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: vscSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: vscSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #as {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: asSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: asSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
#competence .container .cont .bar-stat #in {
  padding: 8px 20px;
  background: #7d7d7d;
  -webkit-animation: inSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
          animation: inSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@-webkit-keyframes htmlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes htmlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes cssSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes cssSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes jsSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes jsSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes jaSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes jaSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes sqlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes sqlSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes dbSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes dbSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes ecSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes ecSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes vscSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes vscSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes asSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes asSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes inSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes inSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .pg {
    height: 100%;
  }
  .pg .row {
    flex-direction: column;
  }
}